<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head> <META http-equiv="Content-Type" content="text/html; charset=utf-8"> </head>

<body>

<div />
<h3>Welcome to the CCCCC lunch queue system. </h3>


<table width="100%" bgcolor="#eeeeee">
  <tr>
    <td>
      Your number is : <h4>{{ queue_tail }}</h4>
    </td>
  </tr>
  <tr>
    <table width="100%" bgcolor="#cccccc">
      <tr>      
        <td>
          <p> When the number below is the same as your number, please go to the kitchen counter. </p>
<!-- <table width="100%" bgcolor="cyan"> -->
        </td>
      </tr>  
      <tr bgcolor="cyan">
        <td>{{ queue_head }}</td>
      </tr>
    </table>
  </tr>
</table>

<div />


<form action="{% url 'queue:increment_tail' %}" method="post"> {% csrf_token %}
  <input type="submit" value="increment" />
</form> 


</body>
</html>