<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- Client page - coded by Miquel and Jeremy, edited by Albert -->

<html>
<head> <META http-equiv="Content-Type" content="text/html; charset=utf-8"> </head>

<body>

<div />
<h3>Welcome to the CCCCC lunch queue system. </h3>


<table width="100%" bgcolor="#eeeeee">
  <tr>
    <td>
      {% if queue_position %}
        Your number is : <h4>{{ queue_position }}</h4>
      {% else %}
        The end of the queue is at : {{ queue_tail }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <table width="100%" bgcolor="#cccccc">
      <tr>      
        <td>
          {% if queue_position %}
            <p> Number of people adead of you in the queue: </p>
          {% else %}
            <p> The queue is <b>{{ queue_length }}</b> people long. </p>
          {% endif %}
        </td>
      </tr>
      {% if queue_position %}
        <tr bgcolor="cyan">
          <td> <h4>{{ distance_from_head }}</h4></td>
        </tr>
      {% endif %}
    {% if distance_from_head < 4 %}
      <tr>
        <td>
          <i> Please make your way to the canteen </i>
        </td>
      </tr>
    {% endif %}
    </table>
  </tr>
</table>

<div />


<form action="{% url 'queue:increment_tail' %}" method="post"> {% csrf_token %}
  <input type="submit" value="Give me a number"
    {% if queue_position %}
      disabled="disabled"
    {% endif %}
  />
</form> 


</body>
</html>